.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.span-btn{
  font-family: "Michroma", sans-serif;
  font-style: normal;
  font-weight: 600;
  padding: 0 !important;
}




/* .signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}



.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.welcome-text {
  margin-bottom: 20px;
  font-size: 18px;
  color: #555;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.auth-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  padding: 12px 20px;
  background-color: #E50914 ;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #f60a16 ;
}

.auth-switch {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.auth-switch span {
  color: #4285f4;
  cursor: pointer;
  text-decoration: underline;
}

.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: 0.1em;
  margin: 20px 0;
}

.divider span {
  background: #fff;
  padding: 0 10px;
  color: #555;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.google-button img {
  margin-right: 10px;
}

.google-button:hover {
  background-color: #f5f5f5;
}

.role-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.role-selection h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.role-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.role-options label {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  cursor: pointer;
}

.role-options input[type="radio"] {
  margin-right: 10px;
} */